body { background-color: #1ABC9C ; 
 color: black;
 font-family: 'Slabo 27px', serif;
 font-size: 16px;
}

/*   HEADER   */

#header-nav { background-color: #E67E22;
 border-radius: 0;
 border: 2px solid black;
 padding-bottom: 0px;
 padding-top: 30px;
}

.navbar-brand {
 margin-bottom: 30px;


}

.navbar-brand h1 {
 font-family: 'Berkshire Swash', cursive;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .8;
  color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
 text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {

}

#nav-list { background-color: #808080 ;
	margin-bottom: 0;
	margin-top: 0;
	
}

#nav-list a {
 color: #000 ; 
 text-align: center;
}

#nav-list a:hover {
 background: #E67E22 ;
}

/*     END OF HEADER     */
 
/*      HOME PAGE       */

#main-content {
  margin-bottom: 30px;
  
}

#menu-title {
  text-align: center; margin-bottom: 20px;
  margin-top: 20px; font-weight: bold;
}

#home-tile { background-color: grey;
 
}

#chicken-title { text-align: center; font-weight: bold;
padding-bottom: 10px;


}

#chicken-description { padding: 30px;

}


